main {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.main-header {
    text-align: center;
    margin: 10px;
}

.result-header {
    text-align: center;
    margin: 5px;
}

.main-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.game-results {
    grid-column: 2;
    grid-row: 1;
    background-color: antiquewhite;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
}

.game-field {
    background-color: antiquewhite;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
}

.panels {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-player-panel {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
}

.game-score-panel {
    background-color: antiquewhite;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
}

.game-info-panel {
    background-color: antiquewhite;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
}
