.player-panel {
    display: flex;
    flex-direction: row;
}

.input-name {
    width: 120px; 
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.select-color {
    width: 150px; 
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.join-button {
    background-color: cadetblue;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

