.result {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.player-color {
    margin: 3px;
    width: 20px;
    height: 20px;
    border-radius: 100% 20% 20% 100%;
}

.player-name {
    margin: 3px;
    text-align: start;
    width: 50px;
}

.player-score {
    margin: 3px;
    text-align: end;
    width: 40px;
}